.mantine-Accordion-control{
    padding: 2px
}
.tab{
    padding: 10px !important;
}
.mantine-Accordion-contentInner{
    padding: 5px
}
.mantine-Accordion-content{
    padding: 0px
}
.col{
    padding: 1px
}
.col-auto {
    padding-right: 1px
}
.mantine-Accordion-itemOpened{
    border-width: medium
}
.accord-label-div{
    padding-left: 1rem
}
.mantine-ActionIcon-light{
    color: #808080a3;
}
.mantine-ActionIcon-light:hover {
    color: #3f3c3ce6;
}
.col-btn-check{
    padding: 0px !important;
    color: #808080a3;
}
.col-2{
    width: 16%
}
.centered-col{
    text-align: center
}